name: {{pubName}}
version: {{pubVersion}}
description: {{pubDescription}}
homepage: {{pubHomepage}}

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  dio: ^4.0.0
  built_value: any
  built_collection: any
{{#timeMachine}}
  time_machine: '^0.9.12'
{{/timeMachine}}

dev_dependencies:
  built_value_generator: any
  build_runner: any
